name: Build and deploy Next.js app to Azure Web App - sayidjundullah

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CLOUDINARY_URL: ${{ secrets.CLOUDINARY_URL }}
      CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
      CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      BASE_URL: ${{ secrets.BASE_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm install

      - name: Build Next.js app
        run: npm run build

      - name: Generate Prisma client (for safety)
        run: npx prisma generate

      - name: Prepare deployment folder
        run: |
          mkdir deploy
          cp -r .next deploy/
          cp -r public deploy/
          cp -r node_modules deploy/
          cp package.json deploy/
          cp package-lock.json deploy/

      - name: Create deployment ZIP
        run: |
          cd deploy
          zip -r ../deploy.zip .

      - name: Upload deployment artifact
        uses: actions/upload-artifact@v4
        with:
          name: deploy-zip
          path: deploy.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download deployment artifact
        uses: actions/download-artifact@v4
        with:
          name: deploy-zip
          path: .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'sayidjundullah'
          slot-name: 'Production'
          package: deploy.zip
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_7E2F4F1069E444AD969A2E5D6DDFC2B9 }}
